<div class="mainWrap">
  <h1 class="viewTitle">New Document</h1>
  <button type="button" name="toDocs"><%= link_to 'Back', documents_path %></button>
  <%= render 'form', document: @document %>
</div>
